<div class="flex">
	<div class="flex-auto">
		<input class="w-full py-2 pl-10 text-black placeholder-gray-400 border border-gray-200 rounded-md focus:border-light-blue-500 focus:ring-1 focus:ring-light-blue-500 focus:outline-none text-md" type="text" aria-label="Add task name" placeholder="Add task name" />
	</div>
  <div class="">
		<span class="text-3xl text-black"><%= @time %></span>
	</div>
</div>
